*{
    margin: 0;
    padding: 0;
}


/*
Paleta de colores:
Primario: Gunmetal — #393E41
Fondo: Dust Grey — #D3D0CB
secundario: Pine Blue — #587B7F
Texto: Carbon Black — #1E2019
*/

/*Header*/
.header {
    align-items: center;
    text-align: center;
    background-color: #393E41;      /* primario */
    color: #D3D0CB;                 /* fondo */
    padding: 20px;
}

/*Config general de Body*/
.body {
    margin: 10px;
    text-align: center;
    background-color: #D3D0CB;      /* fondo */
    color: #1E2019;                 /* texto */
}

.ordenar-texto {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

h2{
    color: #393E41;                 /* primario */
}

h3{
    color: #587B7F;                 /* secundario */
}

/*Presentacion*/
.pr-contenido{    
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.pr-img{
    margin: 10px;   
}

.pr-img img{
    width: 200px; 
    height: auto; 
    border: 3px solid #393E41;      /* primario */
    border-radius: 10px;
}

/*Apartado de pasatiempos*/
.pt{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pt a li{    
    margin: 5px;
    padding: 8px;
    border: 2px solid #587B7F;      /* secundario */
    border-radius: 10px;
    width: 150px;
    color: #393E41;                 /* primario */
    transition: 0.3s;
}

.pt a{
    text-decoration: none;
}

.pt li:hover{
    background-color: #587B7F;      /* secundario */
    color: #1E2019;                 /* texto */
    box-shadow: 2px 2px 10px #393E41;
}

/*Imagenes de listas*/
.list-img{
    text-align: center;
}

.list-img img{
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #393E41;      /* primario */
}

.list-img img.logo{
    width: 150px;
    height: 150px;
}

/*Footer*/
.footer{
    text-align: center;
    background-color: #393E41;      /* texto */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    color: white;
}
.footer-img img{
    width: 40px;
}
